.block-views-photos-block-1,
.block-views-events-block-2,
.block-views-videos-block-1,
.block-views-news-block-1,
.block-views-records-block-1,
.block-views-events-block-1 {
  margin-top: 2rem;
}

.block-views-photos-block-1 h2.block-title,
.block-views-events-block-1 h2.block-title,
.block-views-events-block-2 h2.block-title,
.block-views-videos-block-1 h2.block-title,
.block-views-news-block-1 h2.block-title,
.block-views-records-block-1 h2.block-title {
  text-align: center;
}

a {
  text-decoration: none;
}
